*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
a{
    text-decoration: none;
}
.wrapper{
    max-width: 100vw;
    background: rgba(0,0,0,0.5);
    margin: 0 auto;
   
}
.leftNav{
    flex-grow: 2;
}
.rightNav{
    flex-grow: 1;
    position: relative;
    top:15px;
}
.leftNav a{
    font-size: 27px;
}
.container a{
    padding: 10px;
    display: block;
    color: white;
   
}
.leftNav a span{
    color: rgb(40, 116, 240);
    font-size: 40px;
}
.rightNav a:hover{
   color: red;
    
}
.important{
    display: flex;
    background: red;
    margin:0 auto;
}
.main{
   max-width: 1100px;
   background: #eee;
   margin:0 auto;
}
.mainnews{
    display: grid;
    color: black;
    grid-template-columns: 1fr 3fr 1fr;
}
.login{
    background: pink;
    border-right: 2px solid black;
}
.login span{
    text-align: center;
    color:orangered;
    display: block;
    font-size:30px;
    line-height: 38px;
    padding:5px;
}
input{
    margin: 13px;
    border:none;
    padding: 7px;
}
.submit{
  padding: 8px;
  display: inline-block;
  color: white;
  background: rgb(206, 57, 92);
}
.reset{
    padding: 8px;
  display: inline-block;
  color: white;
  background: rgb(206, 57, 92);
}
.login a{
  text-align: center;
    display: block;
}
.faq{
   border-left:2px solid black;
}
ul li{
    list-style: none;
    margin: 5px;
}
ul li a{
  color: rgba(0,0,0,0.5);
  
}
.faq span{
    color: #84D2FF;
   // padding-bottom: 2px;
    padding-left: 4px;
    padding-top: 2px;
    border-bottom: 2px solid #CDCDD7;
    display: block;
}
ul li .new{
  display: inline;
    border:none;
    color: black;
}
.newsUpdate span{
    border-bottom: 2px solid #CDCDD7;
    display: block;
    padding-left: 4px;
    padding-top: 2px;
}
.newsUpdate p{
   margin-top:4px;
    padding-left: 4px;
    font-size: 15px;
}